localhost:4050 {
	tls internal

	handle /api/* {
		reverse_proxy localhost:8088
	}

	handle /* {
		reverse_proxy localhost:9099
	}
}

app.dev.hatchet-tools.com {
	tls internal

	handle /api/* {
		reverse_proxy localhost:8088
	}

	handle /* {
		reverse_proxy localhost:9099
	}
}

localhost:7070 {
	tls internal

	reverse_proxy h2c://127.0.0.1:7077
}
